#canvas {
	border-bottom: 1px solid black;
}
input[type=number],
select,
textarea {
	width: 100px;
	margin: 4px;
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

form,
label,
input {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px 20px;
}

.title {
	text-align: center;
  font-weight: bold;
  -webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}